@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 57%;
    margin: 0 auto;
}

.wrapper-large {
    width: 100%;
}


/*========index page start========*/

.icon {
    font-family: 'FontAwesome';
    font-weight: 900px;
    text-indent: -9999px;
}

.btn {
    padding: 7px 3%;
    border: 1px solid #4f9526;
    border-radius: 2px;
    background-color: #4f9526;
    color: #fff;
    font-size: 12px;
}

.btn:hover {
    background-color: #fff;
    color: #4f9526;
}

.description {
    color: #777;
    font-size: 12px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


/*=================================
  Header styling starts here
=================================*/


/*upper header*/

.upper-header {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
}


/* logo start*/

.logo {
    flex-basis: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #000;
    font-size: 24px;
    font-weight: 900;
}

.logo span {
    color: #4e9525;
}


/* logo end */


/* icon start */

.social-links {
    flex-basis: 30%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.social-link {
    margin-right: 5%;
}

.social-link:last-child {
    margin-right: 0;
}

.social-link a::before {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    float: right;
    background-color: #f2f2f2;
    color: #777;
    font-size: 12px;
    text-indent: 0;
    justify-content: center;
    align-items: center;
}

.social-link:first-child a::before {
    content: '\f39e';
}

.social-link:nth-child(2) a::before {
    content: '\f099';
}

.social-link:nth-child(3) a::before {
    content: '\f16d';
}

.social-link:nth-child(4) a::before {
    content: '\f434';
}

.social-link a:hover::before {
    background-color: #4e9525;
    color: #fff;
}


/* icon end */


/* search */

.form {
    width: 100%;
}

.search-field {
    flex-basis: 30%;
}

.search-input {
    display: flex;
    border-radius: 25px;
    background-color: #f2f2f2;
}

input[name=search],
input[name=searchBtn] {
    width: 100%;
    padding: 5px 5%;
    border: none;
    outline: none;
    background-color: transparent;
}

input[name=searchBtn] {
    text-indent: -9999px;
    background-color: transparent;
}

.search-btn {
    width: 20%;
    height: 35px;
    border-radius: 50%;
    background-color: #4e9525;
    cursor: pointer;
}

.search-btn::before {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 12px;
    content: '\f002';
    justify-content: center;
    align-items: center;
}

.search-btn:hover::before {
    color: #000;
}


/* search end  */


/*upper header ends here*/


/* navbar start here */

header .wrapper-large {
    padding: 18px 0;
    background-color: #4e9525;
}

.menu {
    display: none;
    font-family: 'FontAwesome';
    font-weight: 900;
    text-indent: -9999px;
    flex-direction: column;
}

.menu-bar:before {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    float: right;
    background-color: #fff;
    text-indent: 0;
    content: '';
    transition: all 1s;
}

.menu:hover .menu-bar:first-child::before {
    transform: translateY(16px) rotate(45deg);
}

.menu:hover .menu-bar:nth-child(2)::before {
    display: none;
}

.menu:hover .menu-bar:nth-child(3)::before {
    transform: translateY(-16px) rotate(-45deg);
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 5%;
}

.nav-item a {
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

.active-nav a,
.nav-item a:hover {
    color: #f8cf3d;
}

.nav-item:last-child {
    margin-right: 0;
}


/* navbar ends here */


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/*=================================
  main styling ends here
=================================*/


/* parallax banner start here */

.banner {
    padding: 215px 0;
    background: url('../images/bg_1.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner .title {
    width: 40%;
    padding-bottom: 10px;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
}

.banner .sub-title {
    padding-bottom: 18px;
    color: #d2caac;
    font-size: 12px;
    font-weight: 900;
}

.banner .highlight {
    padding-bottom: 25px;
    color: #f8cf3d;
    text-transform: uppercase;
}

.learn-btn {
    position: relative;
}

.learn-btn::before {
    position: absolute;
    right: 15%;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f105';
}


/* parallax banner ends here */


/* section lawn services starts*/

.lawn-services {
    padding-top: 37px;
}

.services-provided {
    padding-bottom: 113px;
    display: flex;
}

.services {
    flex-basis: 75%;
    margin-right: 5%;
    display: flex;
}

.service {
    box-shadow: 1px 1px 10px 0#cdcdcd;
    padding: 17px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:nth-child(2) {
    margin: 0 3%;
}

.service .icon::before {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: flex;
    float: right;
    background-color: #f2f2f2;
    color: #4e9525;
    font-size: 21px;
    text-indent: 0;
    justify-content: center;
    align-items: center;
}

.service:nth-child(1) .icon::before {
    content: '\e59a';
}

.service:nth-child(2) .icon::before {
    content: '\f722';
}

.service:nth-child(3) .icon::before {
    content: '\e52f';
}

.services .title {
    padding: 20px 0 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.services .description {
    width: 90%;
    text-align: center;
    line-height: 1.5;
}

.get-quote {
    flex-basis: 21%;
}

.get-quote .title {
    padding: 10px 0 20px 0;
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
}

.get-quote .sub-title {
    color: #4e9526;
    font-size: 10px;
    font-weight: 900;
    text-transform: capitalize;
}

.get-quote .description {
    padding-bottom: 10px;
    line-height: 1.7;
}

.quote-btn {
    padding: 12px 10%;
}


/* section lawn services ends*/


/*section company description start*/

.company-description .wrapper {
    display: flex;
}

.company-description figure {
    flex-basis: 50%;
    min-height: 541px;
    margin-right: 5%;
    position: relative;
}

.company-description figure::after {
    width: 49px;
    height: 49px;
    border: 1px solid #4e9526;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 45%;
    right: -5%;
    background-color: #4e9526;
    color: #fff;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 16px;
    content: '\f04b';
    justify-content: center;
    align-items: center;
}

.company-description figure:hover::after {
    background-color: #fff;
    color: #4e9526;
}

.company-description figure img {
    height: 100%;
}

.welcome-to {
    flex-basis: 50%;
    padding: 36px 0 49px 0;
    display: flex;
    flex-direction: column;
}

.welcome-to .sub-title {
    padding-bottom: 10px;
    color: #4f9526;
    font-size: 12px;
    font-weight: 900;
}

.welcome-to .title {
    width: 70%;
    padding-bottom: 25px;
    font-size: 21px;
    font-weight: 900;
    line-height: 1.3;
}

.welcome-to .description {
    padding-bottom: 10px;
    line-height: 1.5;
}

.know-more-about {
    display: flex;
    flex-direction: column;
}

.know-about {
    box-shadow: 1px 1px 10px 0 #cdcdcd;
    margin-bottom: 5%;
    display: flex;
}

.know-about:last-child {
    margin-bottom: 0;
}

.know-about a {
    width: 100%;
    padding: 20px 7%;
    border-radius: 4px;
    position: relative;
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.know-about a::before {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 20%;
    right: -5%;
    background-color: #4f9526;
    color: #fff;
    font-family: 'FontAwesome';
    font-weight: 900;
    content: '\f061';
    justify-content: center;
    align-items: center;
}

.active-about a,
.know-about a:hover {
    background-color: #4f9526;
    color: #fff;
    font-weight: 700;
}

.active-about a::before,
.know-about a:hover::before {
    background-color: #f8cf3d;
    color: #4f9526;
}


/*section company description end*/


/* contact us start */

.contact-us {
    padding: 39px 0;
    background-color: #4f9526;
}

.contact-us .wrapper {
    display: flex;
}

.contact-description {
    display: flex;
    flex-direction: column;
}

.contact-description .title {
    padding-bottom: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
}

.contact-description .description {
    width: 85%;
    color: #fff;
    line-height: 1.4;
}

.contact-us .contact {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contact-us .contact a {
    color: #f8cf3d;
    font-size: 28px;
    font-weight: 900;
}

.contact-us .contact a:hover {
    color: #fff;
}


/* contact us end  */


/* testimonial start here */

.testimonial {
    padding: 128px 0;
}

.testimonial .sub-title,
.blog .sub-title {
    padding-bottom: 15px;
    color: #4e9526;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.testimonial .title,
.blog .title {
    padding-bottom: 53px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.testimonial .feedbacks {
    padding-bottom: 50px;
    display: flex;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.testimonial .feedback {
    flex-basis: 25%;
    flex-shrink: 0;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.testimonial .feedback:last-child {
    margin-right: 0;
}

.testimonial .feedback .description {
    padding-bottom: 15px;
    line-height: 1.7;
}

.testimonial .client {
    display: flex;
}

.testimonial .client figure {
    width: 58px;
    height: 58px;
}

.testimonial .client figure img {
    height: 100%;
    border-radius: 50%;
}

.client .client-details {
    padding: 10px 0;
    margin-left: 5%;
}

.client-details .client-name {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
}

.client-details .position {
    color: #4e9526;
    font-size: 12px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-control {
    width: 10px;
    height: 10px;
    padding: 0;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    margin-right: 2%;
    background-color: #fff;
    text-indent: -9999px;
}

.btn-control:last-child {
    margin-right: 0;
}

.control-active,
.btn-control:hover {
    background-color: #4f9526;
}


/* testimonial end here */


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}


/*========index page ends========*/